.sec div .montaza_img,
ul a::before {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.card,
.sec,
ul a {
  position: relative;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  outline: 0;
  user-zoom: none;
}
:root {
  --color_tx: #eee;
  --color_txHover: #858585;
  --Yellow_alex: #ffd500;
  --white_alex: #ffffff;
  --blue_alex: #57abdf;
}
::-moz-selection {
  background: var(--Yellow_alex);
  color: var(--blue_alex);
}
::selection {
  background: var(--Yellow_alex);
  color: var(--blue_alex);
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  background: #eee;
}
section {
  min-height: 100vh;
}
.first {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(var(--blue_alex)),
    color-stop(var(--blue_alex)),
    color-stop(var(--blue_alex)),
    color-stop(var(--blue_alex)),
    color-stop(var(--blue_alex)),
    color-stop(var(--blue_alex)),
    color-stop(var(--blue_alex)),
    color-stop(var(--blue_alex)),
    color-stop(#8fd4ff),
    color-stop(var(--blue_alex)),
    color-stop(var(--blue_alex)),
    to(var(--blue_alex))
  );
  background-image: -o-linear-gradient(
    right bottom,
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    #8fd4ff,
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex)
  );
  background-image: linear-gradient(
    to left top,
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex),
    #8fd4ff,
    var(--blue_alex),
    var(--blue_alex),
    var(--blue_alex)
  );
  margin: 1rem;
  border-radius: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 81vh;
}
.garden_tx,
nav {
  display: -webkit-box;
  display: -ms-flexbox;
}
nav {
  background: #57abdf;
  background: -o-radial-gradient(circle, #57abdf 0, #94bbe9 100%);
  background: radial-gradient(circle, #57abdf 0, #94bbe9 100%);
  height: 5rem;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  height: 8rem;
  margin-top: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul {
  padding-right: 4rem;
}
ul a {
  margin: 0 2rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: var(--color_tx);
  z-index: 9;
}
ul a::before {
  content: "";
  background: var(--color_tx);
  height: 5px;
  top: 115%;
}
ul a:hover::before {
  -webkit-animation: 2s infinite underLine;
  animation: 2s infinite underLine;
  background: var(--color_txHover);
}
@-webkit-keyframes underLine {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
}
@keyframes underLine {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
}
ul a:hover {
  color: var(--color_txHover);
}
.montaza_img {
  width: 100%;
  height: 30rem;
}
.sec {
  width: 100%;
  max-height: 81vh;
}
.sec div .montaza_img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
}
.garden_tx {
  height: 35rem;
  width: 100%;
  background: 0 0;
  font-size: 6rem;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: sans-serif;
}
.btn,
.card {
  background: var(--blue_alex);
}
.btn {
  border: none;
  border-radius: 1rem;
  width: 4rem;
  height: 5rem;
}
.btn:hover {
  -webkit-clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  rotate: -90deg;
  cursor: pointer;
  -webkit-animation: 2s infinite scroller;
  animation: 2s infinite scroller;
}
@-webkit-keyframes scroller {
  0%,
  100% {
    margin-top: 0;
  }
  50% {
    margin-top: 2rem;
    height: 3rem;
  }
}
@keyframes scroller {
  0%,
  100% {
    margin-top: 0;
  }
  50% {
    margin-top: 2rem;
    height: 3rem;
  }
}
.sec2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 10px auto 10px auto 10px auto;
  grid-template-columns: auto auto auto auto;
  padding: 0 10px;
  gap: 10px;
  cursor: pointer;
}
.card {
  border-radius: 1rem;
  height: 20rem;
  width: 20rem;
  margin-top: 3rem;
  overflow: hidden;
}
.card_img {
  height: 100%;
  width: 100%;
}
input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}
.card:hover img {
  scale: 1.1;
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
  .sec2 {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    place-items: center;
  }
  .card {
    width: 100%;
  }
  ul a {
    margin: 0.2rem;
  }
  .garden_tx {
    height: 100%;
    position: absolute;
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 10px;
  }
  .sec2 {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    place-items: center;
  }
  .btn {
    display: none;
  }
  ul a {
    margin: 0.2rem;
  }
  .garden_tx {
    height: 100%;
    position: absolute;
    font-size: 5rem;
    width: 100%;
  }
}
@media only screen and (min-width: 425px) {
  html {
    font-size: 11px;
  }
  .sec2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
  }
  ul a {
    margin: 0.2rem;
  }
  .garden_tx {
    height: 100%;
    position: absolute;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
  .sec2 {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    place-items: center;
  }
  ul a {
    margin: 0.2rem;
  }
  .garden_tx {
    height: 100%;
    position: absolute;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 15px;
  }
  .sec2 {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    place-items: center;
  }
  ul a {
    margin: 0.2rem;
  }
  .garden_tx {
    height: 100%;
    position: absolute;
  }
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
  .sec2 {
    -ms-grid-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    place-items: center;
  }
  ul a {
    margin: 0.2rem;
  }
  .garden_tx {
    height: 100%;
    position: absolute;
  }
}
@media only screen and (min-width: 1830px) {
  html {
    font-size: 18px;
  }
}
