.support,
ul a {
  text-transform: capitalize;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  outline: 0;
  user-zoom: none;
}
:root {
  --color_tx: #eee;
  --color_txHover: #858585;
  --Yellow_alex: #ffd500;
  --white_alex: #ffffff;
  --blue_alex: #57abdf;
}
::-moz-selection {
  background: var(--Yellow_alex);
  color: var(--blue_alex);
}
::selection {
  background: var(--Yellow_alex);
  color: var(--blue_alex);
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  background: #eee;
}
section {
  min-height: 100vh;
}
nav {
  background: #57abdf;
  background: -o-radial-gradient(circle, #57abdf 0, #94bbe9 100%);
  background: radial-gradient(circle, #57abdf 0, #94bbe9 100%);
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  height: 8rem;
  margin-top: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}
ul {
  padding-right: 4rem;
}
ul a {
  margin: 0 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--color_tx);
  position: relative;
  z-index: 9;
}
ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  background: var(--color_tx);
  height: 5px;
  top: 115%;
  z-index: -1;
}
ul a:hover::before {
  -webkit-animation: 2s infinite underLine;
  animation: 2s infinite underLine;
  background: var(--color_txHover);
}
@-webkit-keyframes underLine {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
}
@keyframes underLine {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
}
ul a:hover {
  color: var(--color_txHover);
}
.first {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 10px auto 10px auto 10px auto;
  place-items: center;
  grid-template-columns: auto auto auto auto;
  padding: 0 10px;
  gap: 10px;
  cursor: pointer;
}
.support {
  position: absolute;
  color: #000;
  font-weight: 700;
  z-index: 999;
}
.card {
  border-radius: 1rem;
  background: var(--blue_alex);
  height: 20rem;
  width: 20rem;
  margin-top: 3rem;
  position: relative;
  overflow: hidden;
}
.card_img {
  height: 100%;
  width: 100%;
}
input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}
.card:hover img {
  scale: 1.1;
}
.reacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  color: red;
  height: 2rem;
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
  ul a {
    margin: 0.2rem;
  }
  .card {
    width: 100%;
  }
  .first {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    place-items: center;
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 8px;
  }
  ul a {
    margin: 0.2rem;
  }
  .card {
    width: 100%;
  }
  .first {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    place-items: center;
  }
}
@media only screen and (min-width: 425px) {
  html {
    font-size: 9px;
  }
  .first {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 766px) {
  html {
    font-size: 12px;
  }
  .first {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 12px;
  }
  .first {
    -ms-grid-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
